  ######### MAIN ############
  
  ### stages ###
  stages:
    - build
  
  build_docker_preprod:
    image: docker:latest
    stage: build
    variables:
      IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    services:
      - docker:dind
    before_script:
      - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    script:
      - docker build -t $IMAGE_TAG .
      - docker push $IMAGE_TAG
      - docker build -t $CI_REGISTRY_IMAGE/demo:$CI_COMMIT_REF_NAME -f Dockerfile.demo .
      - docker push $CI_REGISTRY_IMAGE/demo:$CI_COMMIT_REF_NAME
    only:
      - master  